/*
* Copyright 2015 orangeoval 
*
* This file is part of the tooSaftey Google Chrome plugin.
*
* tooSaftey is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* tooSaftey is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with tooSaftey.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
  min-width: 173px;
  text-align: center;
  overflow-x: hidden;
  background-color: #FFF8DC
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

span.http {
  color: red;
}

span.https {
  color: #00F90E;
}

.info {
  color: gray;
}

#exclude_button,
#exclusion_list_button {
  outline: 0;
  color: #3399FF;
}
